<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Permissions existantes -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Ajout pour les appels téléphoniques -->
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:label="PARTENAIRE DE L'AMI"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>

    <!-- Queries existantes -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
        <!-- Ajout pour les appels téléphoniques -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="tel" />
        </intent>
        <!-- Ajout pour les emails -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="mailto" />
        </intent>
        <!-- Ajout pour YouTube (liens https) -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" android:host="www.youtube.com" />
        </intent>
        <!-- Ajout pour l'application Priez le Maître (package) -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="package" />
        </intent>
    </queries>
</manifest>